.menu-container {
  position: absolute;
  top: 20px;
  left: 40px;
  z-index: 3;
}

.menu-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.menu-button:hover {
  background-color: #555;
}

.menu-button:focus {
  outline: none;
}

.dropdown-menu {
  overflow: hidden;
  height: 0;
  opacity: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  text-align: center;
  transition: height 0.5s ease, opacity 0.5s ease;
}

.dropdown-menu h3 {
  margin: 0 0 10px;
  color: #333;
}

.icon-to-link {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon-to-link a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 0.3s;
}

.icon-to-link a:hover {
  color: #0073b1; /* Change to desired hover color */
}

.icon-to-link .fa-icon {
  font-size: 24px;
  color: #333;
}

.icon-to-link a:hover .fa-icon {
  color: #0073b1; /* Change to desired hover color */
}

.icon-to-link span {
  font-size: 1rem;
}


/* Responsive design for mobile */
@media (max-width: 600px) {
  .menu-container {
    top: 10px;
    right: 10px;
  }

  .box {
    margin-top: 70px; /* Adjust to provide space for the menu button */
  }
}
